html, body {
	height:101%;
	margin: 0 auto;
	background-color:white;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	font-family:  sans-serif, arial, verdana, tahoma;
}

.wrapper{
	margin: 0 auto;
	height: 90%;
	width: 1000px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
}
	
.logo{
	float:left;
}

.menu1, .menu2 ul ul a span {
	padding: 0 5px;
    line-height: 25px;
    font-size: 13px;
}

.menu1 ul ul a:hover {
	background-color:skyblue;
	border-radius: 15px;
}

.menu2 ul ul a:hover {
	background-color:skyblue;
	border-radius: 15px;
}

.menu1 {
    height: 52px;
    padding-left: 6px;
	float:right;
}

.menu1 ul {
    float: left;
	border-radius: 15px;
}

.menu1 ul.menu {
    padding-right: 20px;
	background-color:black;
}

.menu1 li {
    position: relative;
    display: block;
    float: left;
}

.menu2 li {
    display:block;
    float: left;
}

.menu1,.menu2 ul ul li {
    z-index: 9;
}

.menu1 li div {
    position: absolute;
    z-index: 11;
    top: 45px;
    visibility: hidden;
	margin: 0px 0 0 0px;
    padding: 0; 
	background-color:black;
	width:145px;
	border-radius: 0 0 20px 20px;
}

.menu2 li div {
    z-index: 11;
    top: 45px;
    visibility: hidden;
	margin: 0px 0 0 0px;
    padding: 0; 
	
}

.menu1 li:hover>div {
    visibility: visible;
}

.menu2 li:hover>div {
    visibility: visible;
}

.menu1 ul ul {
	z-index: 12;
    padding: 0px 4px 10px 4px;       
    margin: 10px 0 0 0;	    
}

a {
	text-decoration: none;
	
}

.menu1 a {
    position: relative;
    z-index: 10;
	float: left;
	margin-left:50px;
	height: 45px;
	margin-right: 20px;
	padding: 0 10px 0 0;	
}

.menu1 span {
    margin-top: 2px;
    color: #fff;
    font: normal 16px Helvetica,Arial,FreeSans,sans-serif;
    line-height: 40px;	
    display: block;
    cursor: pointer;
}


.menu1 ul ul a {
    padding: 0px;
    height: auto;
    float: none;
    display: block;
    line-height: 25px;
    font-size: 13px;
    color: #fff;
    z-index: -1;
    padding-left: 5px;
    white-space: normal;
    width: 152px;
    margin: 0 8px;
}

.mySlides {
	display:block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #000;
}

.sidenav {
	padding-top: 15px;
	background-color:black;
	border-radius: 0px 25px 25px 0px;
	height:100%;
}
	
.sidenav a {
	font-size: 18px;
	}

.sidenav .closebtn {
    margin:0 0 0px 50px;
    font-size: 36px;
}

.mobileMenu{
	float:left;
	margin:150px 0 20px -120px;
	font-size:30px;
	cursor:pointer;
}

h1{
	.margin: 100px 0px 0 250px ;
}

h2{
	margin: 0px 0px 0 380px ;
	font-style: oblique;
	font-size:18px;
	color: #FF8C00;
}

* { 
	margin:0;
    padding:0;
}

@media only screen and (max-width: 600px) {
    .menu1{
        display: none;
		}
	.wrapper{
	margin: 0 auto;
	height: 90%;
	width: 1000px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
}

 
  .wrapper{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
}

h1{
	float:left;
	margin: 0px 20px 0 0px ;
}

h2{
	margin: 0px 0px 0 150px ;
	font-style: oblique;
	font-size:16px;
	color: #FF8C00;
	float:left;
}
}

@media only screen and (min-width: 600px) {
    span{
        display: none;
    }
	#wrapper{
	margin:auto;
	transition: margin-left .5s;
    padding: 16px;
}
.menu2 {
	display: none;
}

}

 @media screen and (max-height: 600px){
  .sidenav {padding-top: 15px;
  }
  .sidenav a {font-size: 18px;
  }
}
